<h1>Get to know Joel Better</h1>

<p>Joel Often Performs at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
<br />
<p>Joel also has a podcast called <a href="https://baconsale.com/">Baconsale</a></p>
<br />
<a href="https://baconsale.com/"> 
    <img src="~/img/baconsale.jpg" height="400" />
</a>

<!-- The get to know you page with all of the relevant links-->
