@{
    ViewData["Title"] = "Home Page";
}

<!--The first page with the picture and links to the movie form and get to know you page-->
<h1>The Joel Hilton Film Collection</h1>

<div>
    <img src="~/img/jhilty.jpg" />
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="GetToKnowHim">Get to know Joel</a>
</div>
<br /><br />
<div>
    <a asp-controller="Home" asp-action="Movie">Enter a new movie into Joel's film collection</a>
</div>
<div>
    <a asp-controller="Home" asp-action="ViewMovies">View Movies</a>
</div>